AUTO_SEED=false
NODE_ENV=development
JWT_EXPIRATION_IN_MINUTES=600000
JWT_SECRET=your_jwt_secret_here
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_db_password_here
DB_SCHEMA=your_db_name
DB_DIALECT=mysql
PORT=3000
BCRYPT_ROUNDS=10
# SMTP (leave blank to just log OTP to server console during dev)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=smilaa434@gmail.com
SMTP_PASS=ypxn blnv rvdq rxnc
SMTP_FROM=smilaa434@gmail.com
TRACK_PLUGIN=true to server env files
